<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://unpkg.com/vue@2"></script>

</head>

<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
            <button v-if="cart.length !== 0" v-on:click="showCheckout">
				<!-- {{cartItemCount}} -->
				<span class="fas fa-shopping cart"></span>
				Checkout
			</button>
            <br>
            <div v-if="showSubject">
                <div>
                    <br>
                    <br>
                    <label for="sortVariable">Sort By:</label>
                    <select id="sortVariable" v-model="sortBy">
						<option value= title >Title</option>
						<option value= price >Price</option>
						<option value= space>Space</option>
						<option value=location>Location</option>
					  </select>
                    <select id="ascDes" v-model="sortByAD">
						<option value="ascending">Ascending</option>
						<option value="descending">Descending</option>
					  </select>
                    <br>
                    <br>
                </div>
                <div class="subjects-loop" v-for="subject in sortedSubjects">
                    <figure>
                        <img v-bind:src="subject.image" style="
									width: 80px;
									height: 80px;
								" />
                    </figure>



                    <div>
                        <h2 v-text="subject.title"></h2>
                        <p><i class="fas fa-map-marked-alt"></i> Location: {{subject.location}}</p>
                        <p><i class="fas fa-coins"></i> Price: {{subject.price}}</p>
                        <p><i class="fas fa-user-friends"></i> Spaces Left: {{subject.space}}</p>
                    </div>

                    <button :disabled="subject.space < 1" v-on:click="addToCart(subject)">
						Art To Cart
					</button>
                </div>


            </div>
            <div v-else>
                <h2>Checkout</h2>
                <p>
                    <strong>First Name:</strong>
                    <input v-model="order.firstName" />
                </p>
                <p>
                    <strong>Last Name:</strong>
                    <input v-model="order.lastName" />
                </p>
                <p>
                    <strong>Phone Number:</strong>
                    <input v-model="order.phoneNumber" />
                </p>
                <button :disabled="!verified" v-on:click="submitted()">
					Submit
				</button>
                <p>
                    {{submitMessage}}
                </p>
                <br>
                <h2>Order Information</h2>
                <p>First Name: {{order.firstName}}</p>
                <p>Last Name: {{order.lastName}}</p>

                <div class="subjects-loop" v-for="subject in cart">
                    <figure>
                        <img v-bind:src="subject.image" style="
									width: 80px;
									height: 80px;
								" />
                    </figure>



                    <div>
                        <h2 v-text="subject.title"></h2>
                        <p>Location: {{subject.location}}</p>
                        <p>Price: {{subject.price}}</p>
                        <p>Number of spaces: {{subject.space}}</p>
                    </div>

                    <button v-on:click="removeFromCart(subject)">
						Remove From Cart
					</button>
                </div>

            </div>
        </header>

        <main>

        </main>




    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                sitename: 'After School Club',
                showSubject: true,
                subjects: [],
                submitMessage: "",
                order: {
                    firstName: '',
                    lastName: '',
                    phoneNumber: '',
                },
                cart: [],
                sortBy: 'title',
                sortByAD: 'ascending',
            },




            methods: {
                submitted() {
                    this.submitMessage = "Successfully Submitted"
                },
                addToCart(subject) {
                    if (subject.space > 0) {
                        subject.space -= 1;
                        this.cart.push(subject)
                    }
                },
                removeFromCart(subject) {
                    subject.space += 1;
                    const index = this.cart.indexOf(subject);
                    if (index > -1) {
                        this.cart.splice(index, 1);
                    }
                    if (this.cart.length === 0) {
                        this.showSubject = true;
                    }
                },
                showCheckout() {
                    this.showSubject = this.showSubject ? false : true;

                },
            },
            computed: {

                verified() {
                    var verifiedNumber = false;
                    var verifiedFirstName = false;
                    var verifiedLastName = false;

                    if (this.order.phoneNumber !== "") {
                        let isnum = /^\d+$/.test(this.order.phoneNumber);
                        if (isnum) {
                            verifiedNumber = true
                        }

                    }
                    if (this.order.firstName !== "") {
                        let isletter = (!/[^a-zA-Z]/.test(this.order.firstName))
                        if (isletter) {
                            verifiedFirstName = true
                        }
                    }
                    if (this.order.lastName !== "") {
                        let isletter = (!/[^a-zA-Z]/.test(this.order.lastName))
                        if (isletter) {
                            verifiedLastName = true;
                        }
                    }

                    if (verifiedFirstName && verifiedLastName && verifiedNumber) {
                        return true;
                    }
                    return false;

                },

                sortedSubjects() {

                    function compareTitle(a, b) {
                        if (a.title > b.title) return 1;
                        if (a.title < b.title) return -1;
                        return 0;

                    }


                    function comparePrice(a, b) {
                        if (a.price > b.price) return 1;
                        if (a.price < b.price) return -1;
                        return 0;
                    }

                    function compareLocation(a, b) {
                        if (a.location > b.location) return 1;
                        if (a.location < b.location) return -1;
                        return 0;
                    }

                    function compareSpace(a, b) {
                        if (a.space > b.space) return 1;
                        if (a.space < b.space) return -1;
                        return 0;
                    }

                    if (this.sortByAD === "ascending") {
                        if (this.sortBy === "title") {
                            return this.subjects.sort(compareTitle);
                        } else if (this.sortBy === "price") {
                            return this.subjects.sort(comparePrice);
                        } else if (this.sortBy === "location") {
                            return this.subjects.sort(compareLocation);
                        } else if (this.sortBy === "space") {
                            return this.subjects.sort(compareSpace);
                        }
                    } else if (this.sortByAD === "descending") {
                        if (this.sortBy === "title") {
                            return this.subjects.sort(compareTitle).reverse();
                        } else if (this.sortBy === "price") {
                            return this.subjects.sort(comparePrice).reverse();
                        } else if (this.sortBy === "location") {
                            return this.subjects.sort(compareLocation).reverse();
                        } else if (this.sortBy === "space") {
                            return this.subjects.sort(compareSpace).reverse();
                        }
                    }

                    // sort the 'products' array and return it
                    return this.subjects.sort(compare);
                }
            },

            created() {
                fetch('https://ta803.herokuapp.com/collection/lessons').then(
                    function(response) {
                        response.json().then(
                            function(json) {
                                // note that we used 'store.product' instead of 'this.product'
                                console.log(json)
                                app.subjects = json;
                            });
                    })
            }
        });
    </script>
</body>

</html>